<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="main-content">
{{>header}}
<h1>Help page</h1>

<label>
    <input type="{{type}}" value="{{value}}">

</label>
</div>
{{>footer}}
</body>
</html>